[user]
	name = Niklaas Baudet von Gersdorff
	email = stdin@niklaas.eu
[credential]
	helper = cache
[core]
	editor = vim
[merge]
	tool = vimdiff
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
[push]
	default = current
[http]
	sslverify = false
