[user]
    name = Niklaas Baudet von Gersdorff
    email = me@niklaas.eu
[credential]
    helper = cache
[core]
    editor = vim
    autocrlf = false
    filemode = false
[merge]
    tool = vimdiff
[alias]
    ad  = add
    br  = branch
    ci  = commit -v
    co  = checkout
    di  = diff
    fe  = fetch
    la  = log -1 HEAD
    lag = log --all --graph --oneline --decorate
    lg  = log --graph --oneline --decorate
    mg  = merge --no-ff
    pa  = !git remote | xargs -L1 git push --all
    pl  = pull --rebase
    ps  = push
    rb  = rebase
    st  = status
    su  = submodule update --recursive --remote
[push]
    default = current
[http]
    sslverify = true
