[include]
	path = ~/.gitconfig.local
[credential]
	helper = cache
[core]
	autocrlf = false
	filemode = false
	excludesfile = ~/.gitignore_global
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	cmd = $VISUAL -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J' -c 'Git! mergetool' -c 'cc|cl'
[alias]
	ad  = add
	ap  = add --patch
	br  = branch
	bl  = blame
	brc = rev-parse --abbrev-ref HEAD
	ch  = checkout
	chm = checkout master
	co  = commit -v
	coa = commit -v --amend
	con = commit -v --no-verify
	df  = diff
	dfs = diff --staged
	dfc = diff --compact-summary
	dfw = diff --ignore-all-space
	dfn = diff --name-only
	dt  = difftool
	fe  = fetch
	la  = log -1 HEAD
	lag = log --all --graph --oneline --decorate
	lg  = log --graph --oneline --decorate
	lgs = log --stat
	mg  = merge --no-ff
	mgs = merge --squash
	mt  = mergetool
	pa  = !git remote | xargs -L1 git push --all
	pl  = pull --rebase
	ps  = push
	rb  = rebase
	ri  = rebase --interactive
	sh  = stash
	spa = stash --include-untracked
	spu = stash --include-untracked --keep-index
	spo = stash pop
	st  = status
	su  = submodule update --recursive --remote
  wt  = worktree
  # custom commands:
	ig  = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	browse = "!browse() { $VISUAL +\"Gbrowse! $@ |q\" ;}; browse"
	# Code Reviews:
	files = !git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")
	stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")
	review = !$VISUAL -p $(git files) +\"tabdo Gdiff $(git merge-base HEAD $REVIEW_BASE)\" +tabfirst
	reviews = !$VISUAL -p +\"tabdo Gdiff $(git merge-base HEAD $REVIEW_BASE)\" +tabfirst
	heatmap = !git log $(git merge-base HEAD \"$REVIEW_BASE\")..HEAD --pretty=format: --name-only | grep -v \"^$\" | sort | uniq -c | sort -rg
[push]
	default = current
	followTags = true
[http]
	sslverify = true
[commit]
	gpgsign = true
[rerere]
	enabled = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[pull]
	rebase = true
