" Configure iTerm > Profiles > Advanced > Semantic History
"
"   FILENAME="\1"; LINENUMBER="\2"; if [ "x" = "x$LINENUMBER" ]; then open -na "Webstorm.app" --args $FILENAME; else open -na "Webstorm.app" --args --line $LINENUMBER $FILENAME; fi

let mapleader = " "

" Intellij settings
set ideajoin
set ideamarks
set ideaput
set ideastatusicon=gray
set idearefactormode=select

" IdeaVim bundled plugins
set surround
set highlightedyank
set commentary
set argtextobj
set matchit.vim
set NERDTree

" IdeaVim plugin extensions
set which-key

" Vim settings
set incsearch hlsearch
set ignorecase smartcase
set relativenumber number
set scrolloff=10
set clipboard+=unnamed
set visualbell
set showmode
set selectmode=key,ideaselection
set keymodel=startsel,continueselect

" Vim or Intellij?
sethandler <c-c> n:ide i:vim " vcs actions
sethandler <c-g> n-v:ide " multiple cursor
sethandler <c-m> a:ide " commit history
sethandler <c-q> n:ide i:vim " select in...
sethandler <c-t> n-v:ide i:vim " vim = inline tab indent
sethandler <c-u> n:ide i:vim " find usages

" Keymaps
nnoremap ]<space> o<esc>k
nnoremap [<space> O<esc>j
inoremap <c-o> <esc>O

nnoremap gh _
nnoremap gl $

sethandler <c-s> a:vim " normally used for `Refactor this...`
nmap <c-s> <Action>(SaveAll)

nmap mm <Action>(ToggleBookmark)
nmap mi <Action>(EditBookmark)
nmap ma <Action>(ShowBookmarks)

nmap <c-o> <Action>(Back)
nmap <c-i> <Action>(Forward)

nmap <leader>le <Action>(RenameElement)

nmap <leader>z <Action>(ToggleDistractionFreeMode)

" Jump between methods
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)
