snippet cls "Class" b
export class ${1:Person}${2: extends ${3:ParentClass}} {
	$0
}
endsnippet

snippet m "Method" b
${1:public} ${2:name}(${3:args}) {
	$0
}
endsnippet

snippet tbc "TestBed.configureTestingModule" b
TestBed.configureTestingModule({
	providers: [$1]
})
endsnippet
