" Configure iTerm > Profiles > Advanced > Semantic History
"
"   FILENAME="\1"; LINENUMBER="\2"; if [ "x" = "x$LINENUMBER" ]; then open -na "Webstorm.app" --args $FILENAME; else open -na "Webstorm.app" --args --line $LINENUMBER $FILENAME; fi

" Spacemacs / Intellimacs
" @see https://github.com/MarcoIeni/intellimacs#installation
source ~/.intellimacs/spacemacs.vim
source ~/.intellimacs/extra.vim
source ~/.intellimacs/major.vim

source ~/.intellimacs/which-key.vim

" Comma for major mode
nmap , <leader>m
vmap , <leader>m

" from original spacemacs
" SPC j i - helm jump in buffer / SPC j e
" , g s - jump to symbol in project / SPC j s

" Intellij settings
set ideajoin
set ideamarks
set ideaput
set surround

" Vim settings
set incsearch smartcase
set relativenumber number
set scrolloff=3
set clipboard+=unnamed

" Vim or Intellij?
sethandler <c-d> n-v:ide i:vim
sethandler <c-t> n-v:ide i:vim
sethandler <c-k> n-i:ide " to allow navigating down
sethandler <c-h> n:ide i:vim " for type hierarchy
sethandler <c-q> n:ide i:vim " select in...
sethandler <c-c> n:ide i:vim " vcs actions
sethandler <c-u> n:ide i:vim " find usages
sethandler <c-s> n:ide i:vim " refactor this

" Custom keybindings
nnoremap [<space> O<esc>j
nnoremap ]<space> o<esc>k
nmap <c-[> <Action>(SaveAll)
inoremap <c-o> <esc>O

nmap mm <Action>(ToggleBookmark)
nmap mi <Action>(EditBookmark)
nmap ma <Action>(ShowBookmarks)

nmap <c-o> <Action>(Back)
nmap <c-i> <Action>(Forward)

" Create image of code
vmap <leader>f <Action>(dev.trubitsyn.carbonnowsh.open)
