" Configure iTerm > Profiles > Advanced > Semantic History
"
"   FILENAME="\1"; LINENUMBER="\2"; if [ "x" = "x$LINENUMBER" ]; then open -na "Webstorm.app" --args $FILENAME; else open -na "Webstorm.app" --args --line $LINENUMBER $FILENAME; fi

let mapleader = " "

" Intellij settings
set ideajoin
set ideamarks
set ideaput
set ideastatusicon=gray
set idearefactormode=keep

" IdeaVim bundled plugins
set surround
set commentary
set argtextobj
set matchit.vim
set NERDTree

" Vim settings
set incsearch
set ignorecase smartcase
set relativenumber number
set scrolloff=3
set clipboard+=unnamed

" Vim or Intellij?
sethandler <c-c> n:ide i:vim " vcs actions
sethandler <c-d> n-v:ide i:vim
sethandler <c-g> n-v:ide " multiple cursor
sethandler <c-h> n:ide i:vim " for type hierarchy
sethandler <c-k> n-i:ide " to allow navigating down
sethandler <c-m> a:ide " commit history
sethandler <c-q> n:ide i:vim " select in...
sethandler <c-s> n:ide i:vim " refactor this
sethandler <c-t> n-v:ide i:vim
sethandler <c-u> n:ide i:vim " find usages

" Custom keybindings
nnoremap [<space> O<esc>j
nnoremap ]<space> o<esc>k
nmap <c-[> <Action>(SaveAll)
inoremap <c-o> <esc>O

nmap mm <Action>(ToggleBookmark)
nmap mi <Action>(EditBookmark)
nmap ma <Action>(ShowBookmarks)

nmap <c-o> <Action>(Back)
nmap <c-i> <Action>(Forward)
