[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Compton
Comment=For better display quality
Exec=compton --daemon --config /dev/null --backend glx --vsync opengl-swc --shadow --shadow-opacity 0.2
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

